<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Trips</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Pacifico&family=Source+Code+Pro&display=swap" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles2.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="css/style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/css/carousel.css">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/slicknav.min.css"/>
        <link rel="stylesheet" href="css/fresco.css"/>
        <link rel="stylesheet" href="css/slick.css"/>

	    <!-- Main Stylesheets -->
	    <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <div  class="nav center">

      
            <a href="/" class="logo_"><img src="img/logo.png" alt="Logo Conciergerie"></a>
            <input type="checkbox" name="" class="checkBtn" >
            <ol class="center">
              <a href="/"><li>Home</li></a>
              <a href="/private_residence"><li>Private Residences</li></a>
              <a href="/private_palace"><li>Private Place</li></a>
              <a href="/vip_trips"><li>VIP Trips</li></a>
              <a href="/luxury_cars"><li>Luxury Cars</li></a>
              <a href="/concierge_services"><li>Conciergerie Services</li></a>
              <a href="/about_us"><li>About</li></a>
              <a href="/contact"><li>Contact</li></a>
              <a href="tel:123-456-7890" class=""><i class="fas fa-phone-alt"></i> +212 661216388</a> 
              <div class="dropdown-translate">
                <a href="" class="dropbtn-translate" style="font-size:35px ; margin-right: 0px;"><i class="fas fa-language"></i></a>
                <div class="dropdown-content-translate"> 
                    <a href="/translation/en"><img style="width:30px; height:30px; " src="img/Flags/united-states.png" style="display:inline-block;">EN</a>
                    <a href="/translation/fr" ><img style="width:30px; height:30px; " src="img/Flags/france.png" style="display:inline-block;">FR</a>
                    <a href="#"><img style="width:30px; height:30px; " src="img/Flags/spain.png" style="display:inline-block;">ES</a>
                    <a href="/translation/ar"><img style="width:30px; height:30px; " src="img/Flags/morocco.png" style="display:inline-block;">AR</a>
                    <a href="#"><img style="width:30px; height:30px; " src="img/Flags/russia.png" style="display:inline-block;">Rus</a>
                    <a href="#"><img style="width:30px; height:30px; "src="img/Flags/china.png" style="display:inline-block;">Chi</a>
                  </ul>
                </div>
              </div>
            </ol>
           
          </div>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Trips</div>
                <div class="masthead-subheading">We trust our clients , No prepayment is needed .. payment on arrival !</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="/">Home</a>
            </div>
        </header>
         <!-- About-->
       
         <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h1 class="section-heading " style="font-family: 'Pacifico', cursive !important;">South VIP</h1>
                    <h2 class="section-subheading text-muted">3 nights and 4 days</h2>
                </div>
                
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="hero__section">
            <div class="hero-slider">
                <div class="slide-item">
                    <a class="fresco" href="img/hero-slider/1.jpg" data-fresco-group="projects">
                        <img src="img/hero-slider/1.jpg" alt="">
                    </a>
                </div>
                <div class="slide-item">
                    <a class="fresco" href="img/hero-slider/2.jpg" data-fresco-group="projects">
                        <img src="img/hero-slider/2.jpg" alt="">
                        </a>
                </div>
                <div class="slide-item">
                    <a class="fresco" href="img/hero-slider/3.jpg" data-fresco-group="projects">
                        <img src="img/hero-slider/3.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="img/hero-slider/4.jpg" data-fresco-group="projects">
                        <img src="img/hero-slider/4.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="img/hero-slider/5.jpg" data-fresco-group="projects">
                        <img src="img/hero-slider/5.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="img/hero-slider/6.jpg" data-fresco-group="projects">
                        <img src="img/hero-slider/6.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="img/hero-slider/7.jpg" data-fresco-group="projects">
                        <img src="img/hero-slider/7.jpg" alt="">
                    </a>	
                </div>
            </div>
            <div class="hero-text-slider">
               
            </div>
        </section>
      
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h1 class="section-heading " style="font-family: 'Pacifico', cursive !important;">Reserevation & Info</h1>
                </div>
                
            </div>
        </section>
        <div class="form-wrapper container-fluid contain" >
            <div style=" width:100%;" >
        <form name="form" method="post" >
    
            <b>Full Name:</b>
            <input type="text" id="form_Full_Name" name="form[Full_Name]" required="required" class="form-control" />
            <b>Telephone:</b>
            <input type="text" id="form_Telephone" name="form[Telephone]" required="required" class="form-control" />
            <b>Email:</b>
            <input type="text" id="form_Email" name="form[Email]" required="required" class="form-control" />
            <b>Number of persons:</b>
            <input type="text" id="form_NumberOfPersons" name="form[NumberOfPersons]" required="required" class="form-control" />
            <b>From:</b>
            <div id="form_StartingON" class="form-inline"><div class="sr-only"><label class="required" for="form_StartingON_date_year">Year</label><label class="required" for="form_StartingON_date_month">Month</label><label class="required" for="form_StartingON_date_day">Day</label><label class="required" for="form_StartingON_time_hour">Hour</label><label class="required" for="form_StartingON_time_minute">Minute</label></div><div class="sr-only">
                        <label class="required" for="form_StartingON_date_year">Year</label>
                        <label class="required" for="form_StartingON_date_month">Month</label>
                        <label class="required" for="form_StartingON_date_day">Day</label>
                    </div><select id="form_StartingON_date_month" name="form[StartingON][date][month]" class="form-control"><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7" selected="selected">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select><select id="form_StartingON_date_day" name="form[StartingON][date][day]" class="form-control"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26" selected="selected">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select id="form_StartingON_date_year" name="form[StartingON][date][year]" class="form-control"><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021" selected="selected">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option></select><div class="sr-only"><label class="required" for="form_StartingON_time_hour">Hour</label></div><select id="form_StartingON_time_hour" name="form[StartingON][time][hour]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10" selected="selected">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<div class="sr-only"><label class="required" for="form_StartingON_time_minute">Minute</label></div><select id="form_StartingON_time_minute" name="form[StartingON][time][minute]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22" selected="selected">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select></div>
            <b>To:</b>
            <div id="form_FinishingON" class="form-inline"><div class="sr-only"><label class="required" for="form_FinishingON_date_year">Year</label><label class="required" for="form_FinishingON_date_month">Month</label><label class="required" for="form_FinishingON_date_day">Day</label><label class="required" for="form_FinishingON_time_hour">Hour</label><label class="required" for="form_FinishingON_time_minute">Minute</label></div><div class="sr-only">
                        <label class="required" for="form_FinishingON_date_year">Year</label>
                        <label class="required" for="form_FinishingON_date_month">Month</label>
                        <label class="required" for="form_FinishingON_date_day">Day</label>
                    </div><select id="form_FinishingON_date_month" name="form[FinishingON][date][month]" class="form-control"><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7" selected="selected">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select><select id="form_FinishingON_date_day" name="form[FinishingON][date][day]" class="form-control"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26" selected="selected">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select id="form_FinishingON_date_year" name="form[FinishingON][date][year]" class="form-control"><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021" selected="selected">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option></select><div class="sr-only"><label class="required" for="form_FinishingON_time_hour">Hour</label></div><select id="form_FinishingON_time_hour" name="form[FinishingON][time][hour]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10" selected="selected">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<div class="sr-only"><label class="required" for="form_FinishingON_time_minute">Minute</label></div><select id="form_FinishingON_time_minute" name="form[FinishingON][time][minute]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22" selected="selected">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select></div>
            <b>Message:</b>
            <textarea id="form_message" name="form[message]" required="required" rows="10" class="form-control"></textarea>  <br>  
            <div class="form-group"><button type="submit" id="form_Send_Request" name="form[Send_Request]" class="btn-primary btn">Send request</button></div><input type="hidden" id="form__token" name="form[_token]" value="fG4pDFby-kU9A7OObCRQ1sr3EfsoUysM9s_kilRt6FQ" />
        </form>
        </div>
        </div>
        <!-- Team-->
       
        <!-- Contact-->
        <div class="container_">
            <a href="https://web.facebook.com/semoncef" ><i class="fab fa-facebook"></i></i></a>
            <a href="https://www.instagram.com/concierge_vip_marrakech/" ><i class="fab fa-instagram"></i></a>
            <a href="mailto:kechtrans@gmail.com" ><i class="fa fa-envelope"></i></a>
            <input class="rotating" type="checkbox" name="" id="btn">
             </div>
        <!-- Footer-->
       
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="page-wrapper">
            <div id="waterdrop"></div>
           
             
              
          <footer class="footer-distributed">
          
          <div class="footer-left">
          <a href="/"><img src="http://www.concierge-marrakech.ma/img/logo.png" alt=""></a> 
          
          
          <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Contact</a>
          </p>
          
          <p class="footer-company-name">Marrakech Concierge &copy; 2019</p>
          <div class="dropdown">
          <button class="dropbtn">Latest News<i class="fas fa-caret-square-up"></i></button>
          <div class="dropdown-content">
          <a href="#">Marrakech - Dakhla with Royal Air</a>
          <a href="#">Golf competition</a>
          <a href="#">Marrakech Casinos</a>
          </div>
          </div>
          </div>
          
          <div class="footer-center">
          
          <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Marrakech</span> Marrakech, Morocco</p>
          </div>
          
          <div>
          <i class="fa fa-phone"></i>
          <p>+212 661216388</p>
          </div>
          
          <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com"> kechtrans@gmail.com</a></p>
          </div>
          
          </div>
          
          
          
          <div class="footer-right">
          
          <p class="footer-company-about">
          <span>About</span>
          we offer luxury concierge services all over Morocco &amp; Concierge.
          </p>
          <input class="c-checkbox" type="checkbox" id="checkbox">
          <div class="c-formContainer">
          <form class="c-form" action="">
            <input class="c-form__input" placeholder="New letter" name="newsletter" type="text"  required>
            <label class="c-form__buttonLabel" for="checkbox">
              <button class="c-form__button" type="button">Send</button>
            </label><br>
            <label for="" class="sub_input">Let's stay in touch !</label>
            
          </form>
          </div>
          <div class="footer-icons">
          
          <a  href="https://web.facebook.com/semoncef"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/concierge_vip_marrakech/"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#" > <button class="c-form__Register" type="button">SIGN UP</button></a>
          </div>
          </div>
          
          </footer>
          
          </div>
          
          <!--Go Up-->
          <button onclick="topFunction()" id="goUp" title="Go to top">
          
             </button>
             <script src="js/vendor/jquery-3.2.1.min.js"></script>
             <script src="js/jquery.slicknav.min.js"></script>
             <script src="js/slick.min.js"></script>
             <script src="js/fresco.min.js"></script>
             <script src="js/main.js"></script>
             <script src="js/header-slider.js" ></script>
             <script src="js/carousel.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
          <script src="https://daniellaharel.com/raindrops/js/raindrops.js"></script>
          <script> jQuery('#waterdrop').raindrops({color:'#1c1f2f', canvasHeight:150, density: 0.1, frequency: 20});
          </script>
           
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
