{% extends 'base.html.twig' %}
{% block title %}Trips Reservation{% endblock %}
{% block body %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style1.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/slicknav.min.css"/>
        <link rel="stylesheet" href="/css/fresco.css"/>
        <link rel="stylesheet" href="/css/slick.css"/>
	    <link rel="stylesheet" href="/css/style.css"/>
    <style>
        header.masthead{
            padding-top: 10.5rem !important;
            padding-bottom: 6rem !important;
            text-align: center !important;
            color: #fff !important;
            background-repeat: no-repeat !important;
            background-attachment: scroll;
            background-position: center center !important;
            background-size: cover !important;
            background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.767) 100%),url("../img/trips_resized.jpg") !important;
        }
    </style>

    <div id="page-top">
        <!-- Navigation-->

        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Trips</div>
                <div class="masthead-subheading">We trust our clients , No prepayment is needed .. payment on arrival !</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="/">Home</a>
            </div>
        </header>
         <!-- About-->
       
         <section class="page-section" id="about" style="margin-top: 10px;" >
            <div class="container">
                <div class="text-center">
                    <h1 class="section-heading " style="font-family: 'Pacifico', cursive !important;">South VIP</h1>
                    <h2 class="section-subheading text-muted">3 nights and 4 days</h2>
                </div>
                
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="hero__section" style="margin-bottom: -100px !important;">
            <div class="hero-slider">
                <div class="slide-item">
                    <a class="fresco" href="/img/hero-slider/1.jpg" data-fresco-group="projects">
                        <img src="/img/hero-slider/1.jpg" alt="">
                    </a>
                </div>
                <div class="slide-item">
                    <a class="fresco" href="/img/hero-slider/2.jpg" data-fresco-group="projects">
                        <img src="/img/hero-slider/2.jpg" alt="">
                        </a>
                </div>
                <div class="slide-item">
                    <a class="fresco" href="/img/hero-slider/3.jpg" data-fresco-group="projects">
                        <img src="/img/hero-slider/3.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="/img/hero-slider/4.jpg" data-fresco-group="projects">
                        <img src="/img/hero-slider/4.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="/img/hero-slider/5.jpg" data-fresco-group="projects">
                        <img src="/img/hero-slider/5.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="/img/hero-slider/6.jpg" data-fresco-group="projects">
                        <img src="/img/hero-slider/6.jpg" alt="">
                    </a>	
                </div>
                <div class="slide-item">
                    <a class="fresco" href="/img/hero-slider/7.jpg" data-fresco-group="projects">
                        <img src="/img/hero-slider/7.jpg" alt="">
                    </a>	
                </div>
            </div>
            <div class="hero-text-slider">
               
            </div>
        </section>
      
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h1 class="section-heading " style="font-family: 'Pacifico', cursive !important;">Reserevation & Info</h1>
                </div>
                
            </div>
        </section>
        <div class="form-wrapper container-fluid contain" style="margin-bottom: 30px;">
            <div style=" width:100%;" >
        <form name="form" method="post" >
    
            <b>Full Name:</b>
            <input type="text" id="form_Full_Name" name="form[Full_Name]" required="required" class="form-control" />
            <b>Telephone:</b>
            <input type="text" id="form_Telephone" name="form[Telephone]" required="required" class="form-control" />
            <b>Email:</b>
            <input type="text" id="form_Email" name="form[Email]" required="required" class="form-control" />
            <b>Number of persons:</b>
            <input type="text" id="form_NumberOfPersons" name="form[NumberOfPersons]" required="required" class="form-control" />
            <b>From:</b>
            <div id="form_StartingON" class="form-inline"><div class="sr-only"><label class="required" for="form_StartingON_date_year">Year</label><label class="required" for="form_StartingON_date_month">Month</label><label class="required" for="form_StartingON_date_day">Day</label><label class="required" for="form_StartingON_time_hour">Hour</label><label class="required" for="form_StartingON_time_minute">Minute</label></div><div class="sr-only">
                        <label class="required" for="form_StartingON_date_year">Year</label>
                        <label class="required" for="form_StartingON_date_month">Month</label>
                        <label class="required" for="form_StartingON_date_day">Day</label>
                    </div><select id="form_StartingON_date_month" name="form[StartingON][date][month]" class="form-control"><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7" selected="selected">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select><select id="form_StartingON_date_day" name="form[StartingON][date][day]" class="form-control"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26" selected="selected">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select id="form_StartingON_date_year" name="form[StartingON][date][year]" class="form-control"><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021" selected="selected">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option></select><div class="sr-only"><label class="required" for="form_StartingON_time_hour">Hour</label></div><select id="form_StartingON_time_hour" name="form[StartingON][time][hour]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10" selected="selected">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<div class="sr-only"><label class="required" for="form_StartingON_time_minute">Minute</label></div><select id="form_StartingON_time_minute" name="form[StartingON][time][minute]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22" selected="selected">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select></div>
            <b>To:</b>
            <div id="form_FinishingON" class="form-inline"><div class="sr-only"><label class="required" for="form_FinishingON_date_year">Year</label><label class="required" for="form_FinishingON_date_month">Month</label><label class="required" for="form_FinishingON_date_day">Day</label><label class="required" for="form_FinishingON_time_hour">Hour</label><label class="required" for="form_FinishingON_time_minute">Minute</label></div><div class="sr-only">
                        <label class="required" for="form_FinishingON_date_year">Year</label>
                        <label class="required" for="form_FinishingON_date_month">Month</label>
                        <label class="required" for="form_FinishingON_date_day">Day</label>
                    </div><select id="form_FinishingON_date_month" name="form[FinishingON][date][month]" class="form-control"><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7" selected="selected">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select><select id="form_FinishingON_date_day" name="form[FinishingON][date][day]" class="form-control"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26" selected="selected">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select id="form_FinishingON_date_year" name="form[FinishingON][date][year]" class="form-control"><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021" selected="selected">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option></select><div class="sr-only"><label class="required" for="form_FinishingON_time_hour">Hour</label></div><select id="form_FinishingON_time_hour" name="form[FinishingON][time][hour]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10" selected="selected">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<div class="sr-only"><label class="required" for="form_FinishingON_time_minute">Minute</label></div><select id="form_FinishingON_time_minute" name="form[FinishingON][time][minute]" class="form-control"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22" selected="selected">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select></div>
            <b>Message:</b>
            <textarea id="form_message" name="form[message]" required="required" rows="10" class="form-control"></textarea>  <br>  
            <div class="form-group"><button type="submit" id="form_Send_Request" name="form[Send_Request]" class="btn-primary btn">Send request</button></div><input type="hidden" id="form__token" name="form[_token]" value="fG4pDFby-kU9A7OObCRQ1sr3EfsoUysM9s_kilRt6FQ" />
        </form>
        </div>
        </div>
        <!-- Team-->
       
        <!-- Contact-->
        <div class="container_">
            <a href="https://web.facebook.com/semoncef" ><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/concierge_vip_marrakech/" ><i class="fab fa-instagram"></i></a>
            <a href="mailto:kechtrans@gmail.com" ><i class="fa fa-envelope"></i></a>
            <input class="rotating" type="checkbox" name="" id="btn">
             </div>
        <!-- Footer-->
          <!--Go Up-->
          <button onclick="topFunction()" id="goUp" title="Go to top">
          
             </button>
             <script src="/js/vendor/jquery-3.2.1.min.js"></script>
             <script src="/js/jquery.slicknav.min.js"></script>
             <script src="/js/slick.min.js"></script>
             <script src="/js/fresco.min.js"></script>
             <script src="/js/main.js"></script>

           
        

    </div>
        {% endblock %}
        {% block javascripts %}
            {{ parent() }}

            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="/js/scripts.js"></script>

            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        {% endblock %}

