@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Source+Code+Pro&display=swap');

*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body , html{

 overflow-x: hidden;
  margin-right: 0px;
  scrollbar-color: #A48111 #060D0D;
  scrollbar-width:thin;
}
body{

  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  flex-wrap: wrap;
  /*background: #1D212B;*/
  background-color: #ffffff;
  /*background-image:linear-gradient(to top, transparent 0%, rgba(164, 129, 17, 0.13) 100%), url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");*/
}
/*------------------------------------scroll bar-----------------------------*/


/* The container <div> - needed to position the dropdown content */
.dropdown-translate {
  position: relative;
  display: inline-block;
  margin-right: -10px;
}
.dropbtn-translate:hover{
  border: none !important;
}
.dropdown-content-translate a{
  color: rgb(206, 159, 8) !important;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content-translate {
  display: none;
  position: absolute;
  background-color: rgba(6, 13, 13, 0.28);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(164, 129, 17, 0.47);
  z-index: 1;
  border-radius: 1em 1em;
}

/* Links inside the dropdown */
.dropdown-content-translate a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-translate a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown-translate:hover .dropdown-content-translate {
  display: block !important;
}



.img-slider{
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0px;
  margin-top:0px;
  background: #1D212B;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);

}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  height:650px;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 50%;
  justify-self: center;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #A48111 ;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background:  #A48111;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1400px)
{
  body , html{
    margin-right: 0px !important;
  }
  #goUp, .container_ {
    right: 20px;
  }
  .container__ li{
    background-color: rgba(255, 255, 255, 0.29);
  }
  .helo{
  font-size:small;
  width:60px;;
  height: 40px;
  margin-top: 5px;
  }
  #hero h1{
    font-size: 27px;
  }
  #hero p {
    font-size:18px;
  }

}
@media (max-width: 1900px)
{
  body , html{
    margin-right: -2px !important;
  }
  .figures{
    margin-left: 5px;
  }
}
@media (max-width: 1000px)
{
  .hero-prom{
    height: 220px;
  }
  figure{
    width: 350px !important;;
    height: 350px !important;;
  }

  .c-form__input{
   width: 60% !important;
    margin-top: 30px !important;
  }
.container__ li{
  background-color: rgba(255, 255, 255, 0.29);
}
  .container_{
    position: fixed;
    right: 20px !important;
    bottom: 1%;
  }
  body , html{
    margin-right: 0px !important;
  }
  #goUp {
    right: 20px;
  }
  .footer-left img{
    margin-top: -10px;
    width: 120px !important;
  }
  .c-form__Register {
    margin-top: 30px !important;
  }
  #hero h1{
    font-size: 27px;
  }

  #hero p {
    font-size:18px !important;
    line-height:30px;
  }
  .helo{
    font-size:15px !important;
    width:60px !important;
    height: 35px!important;
    margin-top: 10px !important;
  }
  .hero-prom{
    height: 220px !important;
  }

  .partners-links a {
    margin-left: 10px !important;
    font-size: 17px !important;


  }

}
@media (max-width: 820px){
  .img-slider{
    width: 100%;
    height: 500px;
  }
  .img-slider .slide img{

    height: 510px;


  }
  .c-form__input{
   width: 50%;
    margin-top: 30px !important;
  }
  .img-slider .slide .info{
    padding: 10px 25px;
    position: absolute;
  top: 50%;
  justify-self: center;
  padding: 15px 30px;
  }


  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
  #hero p{
    line-height:normal;
  }

}
@media (max-width: 380px) {
  figure{
    width: 330px !important;;
    height: 330px !important;;
  }

}
@media (max-width: 620px){
  .img-slider{
    width: 100%;
    height: 400px;
  }
figure {
  width: 350px;
  height: 350px;
}
  body , html{
    margin-right: 0px !important;
  }
  figure figcaption {
    position: absolute;
    bottom: -30% !important;
    font-size: 10px !important;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
    position: absolute;
    top: 40%;
    justify-self: center;
    padding: 15px 30px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 14px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }
  .img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }
  .img-slider .slide img{

    height: 450px !important;


  }


  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
  #hero h1{
    font-size: 27px;
  }
  #hero p {
    font-size: 14.5px !important;

  }
  .helo{

    margin-top: 5px !important;
    }
  .hero-prom{
    height: 220px;
  }

  .partners-links a {

    font-size: 15px !important;

  }

}

@media (max-width: 420px){
  .img-slider{
    width: 100%;
    height: 500px !important;
  }
  .img-slider .slide img{

    height: 510px !important;


  }
  body , html{
    margin-right: 0px !important;
  }
  .img-slider .slide .info{
    padding: 5px 10px;
    position: absolute;
    top: 30%;
    justify-self: center;
    padding: 15px 30px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 14px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
  .footer-left img{
    margin-top: -10px;
    width: 120px !important;
  }
  .helo{

    margin-top: 10px;
    }
  .hero-prom{
    height: 205px !important;
    z-index: 0;
  }
   .hero-about{
    height: 220px;
    z-index: 1;
  }



    #hero h1{
      font-size: 27px;
    }
    #hero p {
      font-size: 14px !important;
    }


}

/*-----------------------navbar-----------------------------*/
.center{

  display: flex;
  justify-content: center;
  align-items: center;
  left: -5px;

}
.nav{
  z-index: 1000;
  width: 100%;
  height: 70px;
  margin: 0 5px 0 5px;
  justify-content: space-between;
  position: absolute;
background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.712) 100%);
backdrop-filter: blur( 28.5px  );
-webkit-backdrop-filter: blur( 24.5px );
border-radius: 0px;


}

.checkBtn{
  display:none;
}
.nav .logo{
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  color: rgb(15, 15, 15);
  margin-left: 10px;
  text-shadow: #FFF 0px 0px 3px, #FFF 0px 0px 4px, #FFF 0px 0px 5px, rgb(255, 47, 81) 0px 0px 6px;
}
.logo_ img{
width: 130px;
margin-left: 10px;
}
.nav ol{
  list-style:none;

}
.nav ol a{
  text-decoration: none;
  color: #ffffff;
  margin: 0.4em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  text-shadow: 1px 1px 21px rgba(168, 161, 150, 1);
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif;

}

.nav ol a:not(:nth-child(9n)):hover{
  transition:#1a1c20 .8s;
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
  background: linear-gradient(to top, transparent 0%, #060D0D 100%);
  color: #A48111 ;
  border-radius: 0.2em 0.2em;
  border: #A48111 1px solid  ;

}
.nav ol .dropdown-translate a:hover{
  cursor: pointer;
  color: #A48111 !important;
  background: linear-gradient(to top, transparent 0%, #ffffff00 100%) !important;
}
.nav ol a:nth-child(9n):hover{
  cursor: pointer;
  color: #A48111 ;
  transform: scale(1.1);
  transition: 0.3s;
}
.checkBtn{
  display: none;
}
@media (max-width: 1500px){

  .dropdown-translate:hover .dropdown-content-translate {
    display: block;
    bottom: 100%;
    transition: 0.3s;

  }
  .dropdown-content-translate{
    margin-left: 20%;
    background-color: #060D0D;
    color: #A48111;
  }
.checkBtn{
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  color:#A48111;
  background: linear-gradient(to top, transparent 0%, #060D0D0e 100%);
  margin-right: 10px;
  top: 0;
  padding: 0;
  right: 5px;

}
.div_liste{

  height: 300px;
}
.liste li{
font-size: 17px;
height: 75px;
}

ul li a{
  font-size: 15px;

}
ul li a span{
  font-size: 12px;
}
#bigpic{

}

.checkBtn::before{
  content: '\f0c9';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  font-size: 1.9em;

}
.checkBtn:checked::before{
  content: '\f00d';
}
.nav ol a:not(:nth-child(10n),:nth-child(9n)):hover{
  transition:#1a1c20 .8s;

  backdrop-filter: blur( 28.5px  );
-webkit-backdrop-filter: blur( 24.5px );
transform: scale(1.1);
transition: 0.3s;
  cursor: pointer;
  background: linear-gradient(to top, transparent 0%, #ffffff2d 100%);
  color: #A48111 ;
  border-radius: 2em 2em;

}
.nav ol{
  position: absolute;
  width: 100%;
  flex-direction: column;
  top: 80px;
  left: 0;
  z-index: 100;
  padding: 1.2em;
  clip-path: polygon(0 0, 100% 0,100% 0,0 0);
  transition: clip-path .4s;
  background: #060D0Df3 ;
}
.checkBtn:checked ~ ol{
  clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
}
.nav ol::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background:linear-gradient(to top, transparent 0%, #060D0Db6 100%) ;
}

}
/*---------------------------social-media----------------------------------*/
.container_{
  position: fixed;
  right: 1%;
  bottom: 1%;
  display: flex;
  clip-path: polygon(0 81%, 100% 81%,100% 100%, 0% 100%);
  flex-direction: column;
  transition: all .4s;
  z-index: 100000;

}
.container_ a{
  font-size: 2em;
  padding: 0.5em 0.3em;
  background:#1877f2;
  color: white;
  transition:  0.4s;
}

.container_ a:hover{
  background: #4e97f7;
}
.container_ a:nth-child(2){
  background: #c32aa3;
}
.container_ a:nth-child(3){
  background: #1da1f2;
}
.container_ a:nth-child(2):hover{
  background: #f565d6;
}
.container_ a:nth-child(2):hover{
  background: #5db2e7;
}
input::before{
  content : '\f879';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  font-size: 2.4em;
}
input{
  position: relative;
  padding: 0.5em 0;
  background: #081111;
  color:#A48111;
  cursor:pointer;
  -webkit-appearance: none;
  text-align: center;
  z-index: 100000;
}
/*----------------------Welcome------------------*/
.hero {
  display: block;
  text-align: center;
  transition: 0.3s;
  box-shadow: #A48111 0px 2px 5px -1px, #A48111 0px 1px 3px -1px;

  }
  .hero-about{
    width: 100%;
    height: 260px;
    background-color: #060D0D;
    clip-path: ellipse(99% 100% at 74.99% 0%);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.1));
    z-index: 2;
  }
  .hero-prom{
    margin-top: -5px;
    width: 100%;
    height: 260px;
    background-color: rgb(255, 255, 255);
    clip-path: ellipse(99% 100% at 74.99% 0%);
    color: #060D0D;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 0;
  }
  .hero p{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size:25px;
    margin: 0 10px;
    text-align:center;
    transition: 0.3s;
  }
  .hero h1{
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 35px;


  }
  #more {display: none;}
  #more1 {display: none;}
  .helo{
    margin-top: 20px;
    width: 100px;;
    height: 40px;
    border-radius: 20px 4px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border: none;
    cursor: pointer;
    outline: none;

  }
  #myBtn1{
    background-color: #060D0D;
    color:white;
  }
  #myBtn{
    background-color: white;
    color:#060D0D;
  }
  #myBtn:hover{
    transform: scale(1.1);
    transition: 0.2s;
    background-color: #A48111;
  }#myBtn1:hover{
     transform: scale(1.1);
     transition: 0.2s;
     background-color: #A48111;
   }

   .hero  h1:hover{
     cursor: pointer;
   }
.helo:hover{
  transform: scale(1.1);
  transition: 0.2s;
  background-color: #A48111;
}
  .helo i{
    margin-left: 4px !important;
  }


  /*Footer*/

.dropbtn i{
margin-left: 5px;
}
  .page-wrapper
{

    bottom: 0;
    width: 100%;
    z-index: 0;

}


#waterdrop {
    height: 30px;


}

#waterdrop canvas {
    bottom: -70px !important;
}




 footer{
  top:0px;
  bottom: 0;
  z-index: 0;
  height: 100%;
 }
 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  background-image:linear-gradient(to top, transparent 0%, #060D0D 100%),linear-gradient(to bottom, transparent 30%, #060D0D 100%) !important;
  background-size: cover;
  padding: 55px 50px;


 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }

 .footer-distributed .footer-left{
  width: 40%;
 }

 .footer-distributed h3{
  color:  #A48111;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }

 .footer-distributed h3 span{
  color:  #5383d3;
 }


 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }

 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }

 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }


 .footer-distributed .footer-center{
  width: 35%;
   color: #A48111;
 }

 .footer-distributed .footer-center i{
   background-color:  #33383b !important;
   color: #A48111 !important;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin: 10px;
  vertical-align: middle;
 }

 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
   background-color:  #33383b !important;
   color: #A48111 !important;
  line-height: 38px;
 }

 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:10px;
 }

 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }

 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }

 .footer-distributed .footer-right{
  width: 20%;
 }

 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
 }

 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
 }

 .footer-distributed .footer-icons{
  margin-top: 10px;
 }

 .footer-distributed .footer-icons a:not(:nth-child(4n)){
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #A48111;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
 }


 @media (max-width: 880px) {

  .footer-distributed{
  font: bold 14px sans-serif;

  }

  figure{
    margin-bottom: 15px !important;
    bottom: 15px;
  }
  figure figcaption {
    position: absolute;
    bottom: -35% !important;
   font-size: 10px !important;
 }
  figure figcaption:nth-child(2n)
  {
    bottom: -40% !important;
  }
  .figures{


    margin-left: 50px !important;


  }
   figure h3 {
     font-size: 15px;
   }
  figure h1{
    font-size: 30px !important;
    margin-left: 50px !important;
  }
  figure:hover figcaption {
    bottom: 0 !important;
 }


  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }

  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  #bigpic{
    width: 420px;
    height: 320px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0 !important;

  }
  .gallery h1{
    font-size: 28px !important;
  }
  .container__{
    flex-direction: column;
    height: 650px !important;
  }
  .bty{
    width: 90px;
    height: 40px;
    font-size: 12px !important;
    background-color: #060D0D ;
  }
  .image-divider{
    width: 350px !important;
  }
  .parallax_inner h1,h2{
  font-size: 28px !important;
  }
  .parallax_inner p{
  font-size: 15px !important;
  }
  .sub_div{
    font-size: 15px !important;
  }
  .slideshow-container{
    width: 300px !important;
    height: 100px !important;
  }


  .liste{
    width: 100% !important;
    margin-left: 40px !important;
  }
  .gallery-controls button {
    font-size: 17px !important;
  }
  .gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    width: 100px;
    max-width: 1000px;
    position: relative;
  }
 }


/*Go up*/
#goUp {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 50px;
  z-index: 10000;
  border: none;
  outline: none;
  background-color: rgba(164, 129, 17, 0.51);
  color: #060D0D;
  cursor: pointer;
  padding: 10px ;
  border-radius: 50% ;
  height: 40px;
  width: 40px;
  box-shadow: black 10px;
}
#goUp::before{
  content : '\f062';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 1.7em;

}
#goUp:hover {
  background-color: #b69a3e;
}


/*rotate icon*/
@-webkit-keyframes rotating  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {

  -webkit-animation: rotating 2s linear ;
  -moz-animation: rotating 2s linear ;
  -ms-animation: rotating 2s linear ;
  -o-animation: rotating 2s linear ;
  animation: rotating 2s linear ;
  animation-delay: 0.5s;
}
.parallax {
  background-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 100%),url(http://www.concierge-marrakech.ma/img/testimonials.jpg);
  background-position:100%;
  background-attachment: fixed;
 background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

}
.parallax_inner{
  height: 600px;

}
.parallax{
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 24px #060D0D3b;
}
 #lol{
   color: #A48111;
   margin-top: 50px;
  text-align: center;
  font-size: 45px;
  font-family: 'Pacifico', cursive;
  position: relative;

}

.c-checkbox {
display: none;

}
.c-form__button{
  border-radius: 0;
  width: 50px;
  height: 35px;
  border: 5px #060D0D;
  color: #060D0D;
  cursor: pointer;
  margin-left: 5px;
}
.c-form__input, .c-form__button{
margin-top: 10px;
margin-bottom: 10px;
  border-radius: 0.3rem 0.3rem;
}
.c-form__input{
  width: 65%;
}
.c-form__button:hover{
  background-color: #A48111;
}
.sub_input{
  color: white;
}

.c-form__Register{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  width: 100px;
  font-size: 20px;
}
.c-form__Register:hover{
  background-color: rgba(255, 255, 255, 0);
  color: #A48111;
  transform: scale(1.1);
}

.dropbtn {
  background-color: #ffffff25;
  color:#A48111;
  padding: 5px;
  font-size: 16px;
  border: none;
  width: 200px;
  cursor: pointer;
  margin-top: 40px;
}
.dropbtn::before{
  content: '\f0f3';
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9c2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
  font-size: 14px;
  background: linear-gradient(to top, #ffffff 100%);
backdrop-filter: blur( 28.5px  );
 backdrop-filter: blur( 28.5px  );
-webkit-backdrop-filter: blur( 24.5px );
  border: none;
  transition: 0.3s;
}


.dropdown-content a {
  color: #060D0D;
  padding: 10px ;
  text-decoration: none;
  display: block;
}
.dropdown-content a::before{
  content: '\f35a';
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;


}

.dropdown-content a:hover {background-color: #A48111 ; color:#0a1931 !important;}

.dropdown:hover .dropdown-content {
  display: block;
  bottom: 100%;
  transition: 0.3s;

}

.dropdown:hover .dropbtn {
  background-color: #060D0D;
  color: #A48111;
  transition: 0.3s;

}

/*liste*/
  .container__{
            position:relative;
            margin-top: 20px;
            width: 100%;
            height: 500px;
            box-shadow: 0 5px 24px #060D0D3b;
            background-color: rgba(255, 255, 255, 0.32);
            word-wrap: break-word;
            display: flex;
            align-items: center;
            border-radius: 5px;

        }
        .liste {
            list-style:none;
            font-size: 20px;
            font-family: sans-serif;
            color: black;
            letter-spacing: 1px;
            width: 50%;
            margin-left: 20px;
            display: block;
        }
        ul li{
          width: 90%;
          height: 55px;
          background-color: rgb(255, 255, 255);
          padding: 0 1em;
           display: flex;
           align-items: center;
           margin: 4px 3px;
           position: relative;
           transition: 400ms;
           border-radius: 5px;
           box-shadow: 0 0 2px;
          z-index: 10;
          border:#060D0D 2px;
          outline: none;
        }
        ul li::before{
            content: "";
            position: absolute;
            background-color:#A48111;
            width: 0%;
            left:0px;
            border-radius:0 0 50px 50px;
            height: 5%;
            bottom: 0px;
            z-index: -1;
            transition: 400ms;


        }
        ul li::after{
            content: "";
            position: absolute;
            width: 0%;
            right:0px;
            border-radius:50px 50px 0 0;
            height: 5%;
            top: 0px;
            z-index: -1;
            transition: 600ms;
            background-color:#A48111;
        }

        ul li:hover::before{
            width: 100%;
            border-radius:0 0 50px 50px;
        }
        ul li:hover::after{
            width: 100%;
            border-radius:50px 50px 0 0 ;


        }
        ul li:hover{
            color: #A48111;
            font-size: 23px;
        }
        .div_liste{
          width: 50%;
          background-color: rgba(255, 255, 255, 0);
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          position: relative;

        }
        .div_liste img{
          width: 800px;
          height: 492px;
        }
        ul li span{
          color:black;
          font-size:14px;
          padding:0;
          display:block;
          text-transform:uppercase;
          font-family: 'Yomogi', cursive;
          letter-spacing:1px;
          top: 0;
        }
        ul li a{
          text-decoration:none;
          width:100%;
          height:100%;
          display:block;
          margin:0;
          padding:0;
          cursor: pointer;
        }
        #bigpic{
          position: absolute;

        }
        .bty{
          position: absolute;
          background-color: #060D0D;
          color: #A48111;
          font-size: 16px;
          padding: 12px 24px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          text-align: center;
        }
        .bty:hover {
          color: #060D0Dd7;
          background-color: #A48111 !important;
        }


        /*cards*/
        figure {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 400px;
          height: 400px;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          overflow: hidden;
          margin-bottom: 30px;
          margin-right: 50px;
       }
       .figures figure:not(:nth-child(4n))
        {
          margin-right: 50px;
        }
        figure:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
       }
        figure:hover img {
          transform: scale(1.25);
       }
        figure:hover figcaption {
          bottom: 0;
       }
        figure h1 {
          position: absolute;
          top: 50px;
          left: 20px;
          margin: 0;
          padding: 0;
          color: white;
          font-size: 30px;
          font-weight: 300;
          line-height: 1;
       }
        figure img {
          height: 100%;
          transition: 0.25s;

       }
        figure figcaption {
          position: absolute;
          bottom: -35%;
          left: 0;
          width: 100%;
          margin: 0;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.85);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          color: white;
          line-height: 1;
          transition: 0.25s;
          font-size: 15px;
       }
        figure figcaption h3 {
          margin: 0 0 20px;
          padding: 0;
       }
        figure figcaption p {
          font-size: 14px;
          line-height: 1.75;
       }
        figure figcaption .button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0 0;
          padding: 10px 30px;
          background-color: #A48111;
          border: none;
          border-radius: 5px;
          color: #060D0D;
          font-size: 14px;
          text-decoration: none;
       }
       figure figcaption .button:hover{
        background-color: #060D0D;
        color: #A48111;


       }
       .figures{
         display: flex;
         justify-content: center;
         align-content: center;
         flex-wrap: wrap;
         margin-bottom: 100px;
         margin-top: 50px;
         margin-left: 50px;

       }



      /*deviders*/

       .image-divider {

        margin-top: 30px;
        height: 40px;
         filter: grayscale(100%) ;

      }
      .border-image-divider {
        margin: 0 0px;
        border-top: 64px solid;
        border-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/101448/wave.svg") 64;
        margin-top: 20px;
        width: 100%;
      }

      .footer-left img{
        width: 25%;
      }

      .partners-links{
        display: flex;
        flex-wrap: wrap;
        background-color: #5e5f613a;
        justify-content: center ;
        align-items: center;

      }
      .partners-links a{
        margin-left: 50px;
        font-size: 20px;
        font-family: 'Merienda', cursive;
        color:#060D0D;
        text-decoration: none;

      }
      .partners-links a::before{

          content: '\f35a';
          font-family: 'Font Awesome 5 Free';
          margin-right: 5px;


      }

      .partners-links a:hover{
        color: #A48111;
        transition: 0.3s;

      }