.alertt {
    width: 30%;
    margin: 0px auto;
    padding: 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
    height: 40px;

}
h5{
    margin-top: -20px;
    margin-bottom: -25px;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    right: 15px;
    top: 10px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}


.warning-alert {
    background-color: #A48111;
    border-left: 5px solid #5c4e1e;
    animation-name:opac;
    animation-delay: 5s;
    animation-direction: normal;
    animation-duration: 1.5s;

}
@keyframes opac {
     0%{
         opacity: 0 ;
     }
    50% {
        opacity: 0.5;
    }
    100% {
         opacity: 1;
          }
}


.warning-alert .close {
    border-color: #060D0D;
    color: #060D0D;

}
@media (max-width: 1000px)
{
    .alertt{
        width: 95%;

    }

}
.portfolio-link img{
    width:416px;
    height: 278px;
}